# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [52]:
# assign the collection to a variable
establishments = db['establishments']
pprint(establishments.find_one())

{'AddressLine1': 'The Bay',
 'AddressLine2': 'St Margarets Bay',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Refreshment Kiosk',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'ChangesByServerID': 0,
 'Distance': 4587.347174863443,
 'FHRSID': 254719,
 'LocalAuthorityBusinessID': 'PI/000069980',
 'LocalAuthorityCode': '182',
 'LocalAuthorityEmailAddress': 'publicprotection@dover.gov.uk',
 'LocalAuthorityName': 'Dover',
 'LocalAuthorityWebSite': 'http://www.dover.gov.uk/',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT15 6DY',
 'RatingDate': '2022-03-24T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64701888dc4f69d919878f5c'),
 'geocode': {'latitude': '51.152225', 'longitude': '1.387974'},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/254719',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [48]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene':20}
fields = {'BusinessName'}
# Use count_documents to display the number of documents in the result
results = establishments.find(query,fields)
print(establishments.count_documents(query))
# Display the first document in the results using pprint
pprint(results[0])

41
{'BusinessName': 'The Chase Rest Home',
 '_id': ObjectId('64701889dc4f69d91987ad75')}

In [41]:
import pandas as pd
# Convert the result to a Pandas DataFrame
df=pd.DataFrame({"Business Name":[entry['BusinessName'] for entry in results]})

# Display the number of rows in the DataFrame
print(df.count(axis=0))
# Display the first 10 rows of the DataFrame
df.head(10)

Business Name    41
dtype: int64

               Business Name
0        The Chase Rest Home
1                 Brenalwood
2              Melrose Hotel
3              Golden Palace
4              Seaford Pizza
5           Ashby's Butchers
6  South Sea Express Cuisine
7              Golden Palace
8             The Tulip Tree
9                      F & S

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [58]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'RatingValue':{'$gte':4}}
fields = {'BusinessName'}
# Use count_documents to display the number of documents in the result
results = establishments.find(query,fields)
print(establishments.count_documents(query))
# Display the first document in the results using pprint
pprint(results[0])

26594
{'BusinessName': 'Refreshment Kiosk',
 '_id': ObjectId('64701888dc4f69d919878f5c')}

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = 
sort =  

# Print the results

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame