# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']
pprint(establishments.find_one())

{'AddressLine1': '16 The Stade',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Mariner',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.912144538092,
 'FHRSID': 289560,
 'LocalAuthorityBusinessID': 'PI/000039927',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6AB',
 'RatingDate': '2019-03-19T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64701888dc4f69d91987923e'),
 'geocode': {'latitude': 51.08084, 'longitude': 1.188537},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/289560',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene':20}
fields = {'BusinessName'}
# Use count_documents to display the number of documents in the result
results = establishments.find(query,fields)
print(establishments.count_documents(query))
# Display the first document in the results using pprint
pprint(results[0])

41
{'BusinessName': 'The Chase Rest Home',
 '_id': ObjectId('64701889dc4f69d91987ad75')}

In [7]:
import pandas as pd
# Convert the result to a Pandas DataFrame
df=pd.DataFrame({"Business Name":[entry['BusinessName'] for entry in results]})

# Display the number of rows in the DataFrame
print(df.count(axis=0))
# Display the first 10 rows of the DataFrame
df.head(10)

Business Name    41
dtype: int64

               Business Name
0        The Chase Rest Home
1                 Brenalwood
2              Melrose Hotel
3              Golden Palace
4              Seaford Pizza
5           Ashby's Butchers
6  South Sea Express Cuisine
7              Golden Palace
8             The Tulip Tree
9                      F & S

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName':{'$regex':'London'},'RatingValue':{'$gte':4}}
fields = {'BusinessName'}
# Use count_documents to display the number of documents in the result
results = establishments.find(query,fields)
print(establishments.count_documents(query))
# Display the first document in the results using pprint
pprint(results[0])

33
{'BusinessName': "Charlie's", '_id': ObjectId('6470188adc4f69d91987c78f')}

In [9]:
# Convert the result to a Pandas DataFrame
df=pd.DataFrame({"Business Name":[entry['BusinessName'] for entry in results]})
# Display the number of rows in the DataFrame
print(df.count(axis=0))
# Display the first 10 rows of the DataFrame
df.head(10)

Business Name    33
dtype: int64

                          Business Name
0                             Charlie's
1               Mv City Cruises Erasmus
2             Benfleet Motor Yacht Club
3  Coombs Catering t/a The Lock and Key
4              Tilbury Seafarers Centre
5                            Mv Valulla
6                         Tereza Joanne
7                      Brick Lane Brews
8                      City Bar & Grill
9                              WH Smith

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [10]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
longitude = establishments.find_one({"BusinessName":"Penang Flavours"},{'geocode.longitude'})['geocode']['longitude']
latitude = establishments.find_one({"BusinessName":"Penang Flavours"},{'geocode.latitude'})['geocode']['latitude']
print(latitude)
print(longitude)
blat=latitude-degree_search
tlat=latitude+degree_search
blon=longitude-degree_search
tlon=longitude+degree_search
print(blat,tlat,blon,tlon)
fields = {'BusinessName','geocode','scores.Hygiene'}
query = {'scores.Hygiene':{'$gte':0},'geocode.longitude':{'$gte':blon, '$lte':tlon},'geocode.latitude':{'$gte':blat, '$lte':tlat}}
sort =  [('scores.Hygiene',-1)]
limit = 5

results=establishments.find(query,fields).sort(sort)
# Print the results
for i in range(establishments.count_documents(query)):
    pprint(results[i])

51.490142
0.08384
51.480142 51.500142 0.07384 0.09383999999999999
{'BusinessName': 'The Cakery',
 '_id': ObjectId('6470188bdc4f69d919880655'),
 'geocode': {'latitude': 51.4875866, 'longitude': 0.0910684},
 'scores': {'Hygiene': 15}}
{'BusinessName': 'The Cakery',
 '_id': ObjectId('6470188bdc4f69d919880655'),
 'geocode': {'latitude': 51.4875866, 'longitude': 0.0910684},
 'scores': {'Hygiene': 15}}
{'BusinessName': 'Capricorn Members Club',
 '_id': ObjectId('6470188bdc4f69d91988063a'),
 'geocode': {'latitude': 51.4873098, 'longitude': 0.0909549},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Capricorn Members Club',
 '_id': ObjectId('6470188bdc4f69d91988063a'),
 'geocode': {'latitude': 51.4873098, 'longitude': 0.0909549},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Apna Pind',
 '_id': ObjectId('6470188bdc4f69d91988067a'),
 'geocode': {'latitude': 51.4876894, 'longitude': 0.0905233},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Capricorn Members Club',
 '_id': ObjectId('6470188bdc4f69d91988063a'),
 'geocode': {'latitude': 51.4873098, 'longitude': 0.0909549},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Apna Pind',
 '_id': ObjectId('6470188bdc4f69d91988067a'),
 'geocode': {'latitude': 51.4876894, 'longitude': 0.0905233},
 'scores': {'Hygiene': 10}}
{'BusinessName': "Zehra's Cafe",
 '_id': ObjectId('6470188bdc4f69d9198805ef'),
 'geocode': {'latitude': 51.48665, 'longitude': 0.0911408},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Apna Pind',
 '_id': ObjectId('6470188bdc4f69d91988067a'),
 'geocode': {'latitude': 51.4876894, 'longitude': 0.0905233},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Apna Pind',
 '_id': ObjectId('6470188bdc4f69d91988067a'),
 'geocode': {'latitude': 51.4876894, 'longitude': 0.0905233},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Capricorn Members Club',
 '_id': ObjectId('6470188bdc4f69d91988063a'),
 'geocode': {'latitude': 51.4873098, 'longitude': 0.0909549},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Capricorn Members Club',
 '_id': ObjectId('6470188bdc4f69d91988063a'),
 'geocode': {'latitude': 51.4873098, 'longitude': 0.0909549},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Tasty Bites',
 '_id': ObjectId('6470188bdc4f69d9198806b3'),
 'geocode': {'latitude': 51.4818466, 'longitude': 0.0836934},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Tasty Bites',
 '_id': ObjectId('6470188bdc4f69d9198806b3'),
 'geocode': {'latitude': 51.4818466, 'longitude': 0.0836934},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Capricorn Members Club',
 '_id': ObjectId('6470188bdc4f69d91988063a'),
 'geocode': {'latitude': 51.4873098, 'longitude': 0.0909549},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Capricorn Members Club',
 '_id': ObjectId('6470188bdc4f69d91988063a'),
 'geocode': {'latitude': 51.4873098, 'longitude': 0.0909549},
 'scores': {'Hygiene': 10}}
{'BusinessName': 'Lucky Food & Wine',
 '_id': ObjectId('6470188bdc4f69d919880696'),
 'geocode': {'latitude': 51.4878934, 'longitude': 0.0910104},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'The Plumstead Pantry',
 '_id': ObjectId('6470188bdc4f69d91988070d'),
 'geocode': {'latitude': 51.4817727, 'longitude': 0.083745},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Spice Island',
 '_id': ObjectId('6470188bdc4f69d91988071c'),
 'geocode': {'latitude': 51.4804420471191, 'longitude': 0.0812250003218651},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Ho Wah Chinese Takeaway',
 '_id': ObjectId('6470188bdc4f69d919880641'),
 'geocode': {'latitude': 51.4876867, 'longitude': 0.0920093},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Ho Wah Chinese Takeaway',
 '_id': ObjectId('6470188bdc4f69d919880641'),
 'geocode': {'latitude': 51.4876867, 'longitude': 0.0920093},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Ho Wah Chinese Takeaway',
 '_id': ObjectId('6470188bdc4f69d919880641'),
 'geocode': {'latitude': 51.4876867, 'longitude': 0.0920093},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'The Plumstead Pantry',
 '_id': ObjectId('6470188bdc4f69d91988070d'),
 'geocode': {'latitude': 51.4817727, 'longitude': 0.083745},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Fineway Cash & Carry',
 '_id': ObjectId('6470188bdc4f69d919880661'),
 'geocode': {'latitude': 51.4876089, 'longitude': 0.0909382},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'The Plumstead Pantry',
 '_id': ObjectId('6470188bdc4f69d91988070d'),
 'geocode': {'latitude': 51.4817727, 'longitude': 0.083745},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'London Grocery Store',
 '_id': ObjectId('6470188bdc4f69d9198805fa'),
 'geocode': {'latitude': 51.4870072, 'longitude': 0.0913239},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'London Grocery Store',
 '_id': ObjectId('6470188bdc4f69d9198805fa'),
 'geocode': {'latitude': 51.4870072, 'longitude': 0.0913239},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Premier Express',
 '_id': ObjectId('6470188bdc4f69d91988067c'),
 'geocode': {'latitude': 51.4877234, 'longitude': 0.0904552},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Spice Island',
 '_id': ObjectId('6470188bdc4f69d91988071c'),
 'geocode': {'latitude': 51.4804420471191, 'longitude': 0.0812250003218651},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Spice Island',
 '_id': ObjectId('6470188bdc4f69d91988071c'),
 'geocode': {'latitude': 51.4804420471191, 'longitude': 0.0812250003218651},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'The Plumstead Pantry',
 '_id': ObjectId('6470188bdc4f69d91988070d'),
 'geocode': {'latitude': 51.4817727, 'longitude': 0.083745},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Everest Stores Ltd',
 '_id': ObjectId('6470188bdc4f69d919880685'),
 'geocode': {'latitude': 51.4876718, 'longitude': 0.0903232},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Everest Stores Ltd',
 '_id': ObjectId('6470188bdc4f69d919880685'),
 'geocode': {'latitude': 51.4876718, 'longitude': 0.0903232},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'The Plumstead Pantry',
 '_id': ObjectId('6470188bdc4f69d91988070d'),
 'geocode': {'latitude': 51.4817727, 'longitude': 0.083745},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Mr Uncles Kebab',
 '_id': ObjectId('6470188bdc4f69d919880810'),
 'geocode': {'latitude': 51.4893255, 'longitude': 0.0858325},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Plumstead Radical Club',
 '_id': ObjectId('6470188bdc4f69d919880819'),
 'geocode': {'latitude': 51.4893112182617, 'longitude': 0.084697000682354},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'South Rise Primary School',
 '_id': ObjectId('6470188bdc4f69d919880822'),
 'geocode': {'latitude': 51.4862442016602, 'longitude': 0.0811289995908737},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Nisa Local',
 '_id': ObjectId('6470188bdc4f69d919880824'),
 'geocode': {'latitude': 51.4861922, 'longitude': 0.0809311},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Nisa Local',
 '_id': ObjectId('6470188bdc4f69d919880824'),
 'geocode': {'latitude': 51.4861922, 'longitude': 0.0809311},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'The Plumstead Pantry',
 '_id': ObjectId('6470188bdc4f69d91988070d'),
 'geocode': {'latitude': 51.4817727, 'longitude': 0.083745},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Lucky Food & Wine',
 '_id': ObjectId('6470188bdc4f69d919880696'),
 'geocode': {'latitude': 51.4878934, 'longitude': 0.0910104},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Tasty Chicken',
 '_id': ObjectId('6470188bdc4f69d91988078a'),
 'geocode': {'latitude': 51.4870186, 'longitude': 0.0861017},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Tasty Chicken',
 '_id': ObjectId('6470188bdc4f69d91988078a'),
 'geocode': {'latitude': 51.4870186, 'longitude': 0.0861017},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Cafe Royal',
 '_id': ObjectId('6470188bdc4f69d919880847'),
 'geocode': {'latitude': 51.4900273, 'longitude': 0.0843992},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'AK Grills',
 '_id': ObjectId('6470188bdc4f69d919880849'),
 'geocode': {'latitude': 51.4900609, 'longitude': 0.0843432},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'New Royal China',
 '_id': ObjectId('6470188bdc4f69d919880775'),
 'geocode': {'latitude': 51.4887446, 'longitude': 0.088154},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Lucky Food & Wine',
 '_id': ObjectId('6470188bdc4f69d919880696'),
 'geocode': {'latitude': 51.4878934, 'longitude': 0.0910104},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'New Royal China',
 '_id': ObjectId('6470188bdc4f69d919880775'),
 'geocode': {'latitude': 51.4887446, 'longitude': 0.088154},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'TIWA N TIWA African Restaurant Ltd',
 '_id': ObjectId('6470188bdc4f69d91988057f'),
 'geocode': {'latitude': 51.4870351, 'longitude': 0.0927429},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'TIWA N TIWA African Restaurant Ltd',
 '_id': ObjectId('6470188bdc4f69d91988057f'),
 'geocode': {'latitude': 51.4870351, 'longitude': 0.0927429},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'TIWA N TIWA African Restaurant Ltd',
 '_id': ObjectId('6470188bdc4f69d91988057f'),
 'geocode': {'latitude': 51.4870351, 'longitude': 0.0927429},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'TIWA N TIWA African Restaurant Ltd',
 '_id': ObjectId('6470188bdc4f69d91988057f'),
 'geocode': {'latitude': 51.4870351, 'longitude': 0.0927429},
 'scores': {'Hygiene': 5}}
{'BusinessName': 'Milsha Stores',
 '_id': ObjectId('6470188bdc4f69d9198806c2'),
 'geocode': {'latitude': 51.4880962, 'longitude': 0.0897233},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Abbi Wines',
 '_id': ObjectId('6470188bdc4f69d919880627'),
 'geocode': {'latitude': 51.4871401, 'longitude': 0.0908895},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Chick Chicken',
 '_id': ObjectId('6470188bdc4f69d9198806c6'),
 'geocode': {'latitude': 51.4880687, 'longitude': 0.0897508},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Conway Primary School',
 '_id': ObjectId('6470188bdc4f69d9198806cb'),
 'geocode': {'latitude': 51.487865447998, 'longitude': 0.0894860029220581},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'EVER FRESH INDIAN STREET FOOD',
 '_id': ObjectId('6470188bdc4f69d919880628'),
 'geocode': {'latitude': 51.4877576, 'longitude': 0.091566},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Punjabi Dhaba',
 '_id': ObjectId('6470188bdc4f69d9198806d7'),
 'geocode': {'latitude': 51.4884605407715, 'longitude': 0.0900010019540787},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Best Halal Meat Limited',
 '_id': ObjectId('6470188bdc4f69d9198806db'),
 'geocode': {'latitude': 51.4881611, 'longitude': 0.089611},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Dosa & Sambal Express',
 '_id': ObjectId('6470188bdc4f69d919880629'),
 'geocode': {'latitude': 51.4877576, 'longitude': 0.091566},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Red Lion Noodle Bar / Red Lion Sushi Bar',
 '_id': ObjectId('6470188bdc4f69d9198806dc'),
 'geocode': {'latitude': 51.4883651733398, 'longitude': 0.0898109972476959},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Angels Bakery',
 '_id': ObjectId('6470188bdc4f69d9198805be'),
 'geocode': {'latitude': 51.4873404, 'longitude': 0.0922671},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Lumbini Grocery Ltd T/A Al-Iman',
 '_id': ObjectId('6470188bdc4f69d9198805ed'),
 'geocode': {'latitude': 51.4871632, 'longitude': 0.0916256},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'The Belfry',
 '_id': ObjectId('6470188bdc4f69d9198806f1'),
 'geocode': {'latitude': 51.487928, 'longitude': 0.0900757},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Ajefoods Limited',
 '_id': ObjectId('6470188bdc4f69d9198806fd'),
 'geocode': {'latitude': 51.488459, 'longitude': 0.0897507},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Ajefoods Limited',
 '_id': ObjectId('6470188bdc4f69d9198806fd'),
 'geocode': {'latitude': 51.488459, 'longitude': 0.0897507},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Ajefoods Limited',
 '_id': ObjectId('6470188bdc4f69d9198806fd'),
 'geocode': {'latitude': 51.488459, 'longitude': 0.0897507},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Boba & Co UK',
 '_id': ObjectId('6470188bdc4f69d919880709'),
 'geocode': {'latitude': 51.4881627, 'longitude': 0.0895246},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Boba & Co UK',
 '_id': ObjectId('6470188bdc4f69d919880709'),
 'geocode': {'latitude': 51.4881627, 'longitude': 0.0895246},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Ajefoods Limited',
 '_id': ObjectId('6470188bdc4f69d9198806fd'),
 'geocode': {'latitude': 51.488459, 'longitude': 0.0897507},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Ajefoods Limited',
 '_id': ObjectId('6470188bdc4f69d9198806fd'),
 'geocode': {'latitude': 51.488459, 'longitude': 0.0897507},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Boba & Co UK',
 '_id': ObjectId('6470188bdc4f69d919880709'),
 'geocode': {'latitude': 51.4881627, 'longitude': 0.0895246},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Kebabish',
 '_id': ObjectId('6470188bdc4f69d919880717'),
 'geocode': {'latitude': 51.4882194, 'longitude': 0.0893688},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Kebabish',
 '_id': ObjectId('6470188bdc4f69d919880717'),
 'geocode': {'latitude': 51.4882194, 'longitude': 0.0893688},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Kebabish',
 '_id': ObjectId('6470188bdc4f69d919880717'),
 'geocode': {'latitude': 51.4882194, 'longitude': 0.0893688},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Kebabish',
 '_id': ObjectId('6470188bdc4f69d919880717'),
 'geocode': {'latitude': 51.4882194, 'longitude': 0.0893688},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Kebabish',
 '_id': ObjectId('6470188bdc4f69d919880717'),
 'geocode': {'latitude': 51.4882194, 'longitude': 0.0893688},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Kebabish',
 '_id': ObjectId('6470188bdc4f69d919880717'),
 'geocode': {'latitude': 51.4882194, 'longitude': 0.0893688},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Kebabish',
 '_id': ObjectId('6470188bdc4f69d919880717'),
 'geocode': {'latitude': 51.4882194, 'longitude': 0.0893688},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Poundland',
 '_id': ObjectId('6470188bdc4f69d919880719'),
 'geocode': {'latitude': 51.4884195010951, 'longitude': 0.0893575026992294},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Iceland',
 '_id': ObjectId('6470188bdc4f69d9198805ae'),
 'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Poundland',
 '_id': ObjectId('6470188bdc4f69d919880719'),
 'geocode': {'latitude': 51.4884195010951, 'longitude': 0.0893575026992294},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Iceland',
 '_id': ObjectId('6470188bdc4f69d9198805ae'),
 'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Volunteer',
 '_id': ObjectId('6470188bdc4f69d9198805d4'),
 'geocode': {'latitude': 51.4873437, 'longitude': 0.09208},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Volunteer',
 '_id': ObjectId('6470188bdc4f69d9198805d4'),
 'geocode': {'latitude': 51.4873437, 'longitude': 0.09208},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Atlantic Fish Bar',
 '_id': ObjectId('6470188bdc4f69d9198805f5'),
 'geocode': {'latitude': 51.4867296, 'longitude': 0.0912164},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Atlantic Fish Bar',
 '_id': ObjectId('6470188bdc4f69d9198805f5'),
 'geocode': {'latitude': 51.4867296, 'longitude': 0.0912164},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Atlantic Fish Bar',
 '_id': ObjectId('6470188bdc4f69d9198805f5'),
 'geocode': {'latitude': 51.4867296, 'longitude': 0.0912164},
 'scores': {'Hygiene': 0}}
{'BusinessName': "Dadoo's Foodstore",
 '_id': ObjectId('6470188bdc4f69d919880679'),
 'geocode': {'latitude': 51.4876894, 'longitude': 0.0905233},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'SD News & Mini Market',
 '_id': ObjectId('6470188bdc4f69d91988072a'),
 'geocode': {'latitude': 51.4827461242676, 'longitude': 0.0831020027399063},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'KFC',
 '_id': ObjectId('6470188bdc4f69d919880736'),
 'geocode': {'latitude': 51.4884997, 'longitude': 0.0887766},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Co-op Food',
 '_id': ObjectId('6470188bdc4f69d91988073d'),
 'geocode': {'latitude': 51.4806876203642, 'longitude': 0.0808583091748281},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Ambala & Karahi Ltd',
 '_id': ObjectId('6470188bdc4f69d91988074a'),
 'geocode': {'latitude': 51.4885934, 'longitude': 0.0885648},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Cristi & Ramon Ltd',
 '_id': ObjectId('6470188bdc4f69d919880754'),
 'geocode': {'latitude': 51.4886322021484, 'longitude': 0.0883829966187477},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'The Gurkha Club',
 '_id': ObjectId('6470188bdc4f69d9198805e5'),
 'geocode': {'latitude': 51.4865168, 'longitude': 0.0910482},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Greggs',
 '_id': ObjectId('6470188bdc4f69d9198805fc'),
 'geocode': {'latitude': 51.4871406555176, 'longitude': 0.0912820026278496},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Dilkush Tandoori',
 '_id': ObjectId('6470188bdc4f69d919880686'),
 'geocode': {'latitude': 51.4878941, 'longitude': 0.0909672},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Dilkush Tandoori',
 '_id': ObjectId('6470188bdc4f69d919880686'),
 'geocode': {'latitude': 51.4878941, 'longitude': 0.0909672},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Dilkush Tandoori',
 '_id': ObjectId('6470188bdc4f69d919880686'),
 'geocode': {'latitude': 51.4878941, 'longitude': 0.0909672},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Los carnales mexicanos',
 '_id': ObjectId('6470188bdc4f69d919880780'),
 'geocode': {'latitude': 51.4810979, 'longitude': 0.0802144},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'High Street News & Wine',
 '_id': ObjectId('6470188bdc4f69d91988068a'),
 'geocode': {'latitude': 51.4876718, 'longitude': 0.0903232},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Astra Food & Wine',
 '_id': ObjectId('6470188bdc4f69d919880782'),
 'geocode': {'latitude': 51.4869647, 'longitude': 0.0862363},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Astra Food & Wine',
 '_id': ObjectId('6470188bdc4f69d919880782'),
 'geocode': {'latitude': 51.4869647, 'longitude': 0.0862363},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Astra Food & Wine',
 '_id': ObjectId('6470188bdc4f69d919880782'),
 'geocode': {'latitude': 51.4869647, 'longitude': 0.0862363},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'Astra Food & Wine',
 '_id': ObjectId('6470188bdc4f69d919880782'),
 'geocode': {'latitude': 51.4869647, 'longitude': 0.0862363},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'BakeYard',
 '_id': ObjectId('6470188bdc4f69d9198805fd'),
 'geocode': {'latitude': 51.4871324, 'longitude': 0.0913213},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'BakeYard',
 '_id': ObjectId('6470188bdc4f69d9198805fd'),
 'geocode': {'latitude': 51.4871324, 'longitude': 0.0913213},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'BakeYard',
 '_id': ObjectId('6470188bdc4f69d9198805fd'),
 'geocode': {'latitude': 51.4871324, 'longitude': 0.0913213},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'East Plumstead Pre School',
 '_id': ObjectId('6470188bdc4f69d919880785'),
 'geocode': {'latitude': 51.4845542907715, 'longitude': 0.0836590006947517},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'The Gurkha Club',
 '_id': ObjectId('6470188bdc4f69d9198805e5'),
 'geocode': {'latitude': 51.4865168, 'longitude': 0.0910482},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'The Gurkha Club',
 '_id': ObjectId('6470188bdc4f69d9198805e5'),
 'geocode': {'latitude': 51.4865168, 'longitude': 0.0910482},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'High Street News & Wine',
 '_id': ObjectId('6470188bdc4f69d91988068a'),
 'geocode': {'latitude': 51.4876718, 'longitude': 0.0903232},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'The Old Mill',
 '_id': ObjectId('6470188bdc4f69d9198806a5'),
 'geocode': {'latitude': 51.4817109, 'longitude': 0.0840959},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'The Old Mill',
 '_id': ObjectId('6470188bdc4f69d9198806a5'),
 'geocode': {'latitude': 51.4817109, 'longitude': 0.0840959},
 'scores': {'Hygiene': 0}}
{'BusinessName': 'The Old Mill',

In [11]:
# Convert result to Pandas DataFrame
ls=[[entry['BusinessName'],entry['geocode']['latitude'],entry['geocode']['longitude'],entry['scores']['Hygiene']] for entry in results]
df=pd.DataFrame(ls, columns=["Business Name","Latitude", "Longitude", "Hygiene"])
df.head(5)

            Business Name   Latitude  Longitude  Hygiene
0              The Cakery  51.487587   0.091068       15
1       Ebute Metta Joint  51.488374   0.089750       15
2            Zehra's Cafe  51.486650   0.091141       10
3  Capricorn Members Club  51.487310   0.090955       10
4               Apna Pind  51.487689   0.090523       10

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [15]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene':0}}
group_query = {'$group': {'_id': '$LocalAuthorityName', 'count': { '$sum': 1 }}}
sort_values = {'$sort': { 'count': -1}}
pipeline = [match_query, group_query, sort_values]
results = list(establishments.aggregate(pipeline))
# Print the number of documents in the result
print(len(results))
# Print the first 10 results
pprint(results[0:10])

55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [16]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print("Row number: ", len(result_df))
# Display the first 10 rows of the DataFrame
result_df.head(10)

Row number:  55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542